{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Participants</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
      <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.description }}</td>
        <td>
          {% for category in event.category %}
            {{ category.name }}
            {% if not loop.last %},{% endif %}
          {% endfor %}
        </td>

        <td>{{ event.participants }}</td>
        <td>{{ event.startDate|date('d/m/Y\\ H:i') }}</td>
        <td>{{ event.endDate|date('d/m/Y\\ H:i') }}</td>
          <td>
            <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-primary">Edit</a>
            <a href="{{ path('event_delete', {'id': event.id}) }}" class="btn btn-danger">Delete</a>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
