{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}

<div class="container">
  {{ form(form) }}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Participants</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td>{{ event.description }}</td>
      <td>
      {% for category in event.category %}
        {{ category.name }}
        {% if not loop.last %},{% endif %}
      {% endfor %}
      </td>
      <td>{{ event.participants }}</td>
      <td>{{ event.startDate|date('d/m/Y\\ H:i') }}</td>
      <td>{{ event.endDate|date('d/m/Y\\ H:i') }}</td>
      <td> <a href="{{ path('app_details', {'id': event.id}) }}" class="btn btn-primary">View</a> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    <div class="row mt-2">
      <div class="col-md-6">
        <h6 class="mb-0">Total Results: {{ count }}</h6>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <h6 class="mb-0">Total participants: {{ participants }}</h6>
      </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('filter') }}
{% endblock %}

