{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}

<div class="example-wrapper">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Participants</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td>{{ event.description }}</td>
      <td>{{ event.participants }}</td>
      <td>{{ event.startDate|date('Y-m-d\\ H:i') }}</td>
      <td>{{ event.endDate|date('Y-m-d\\ H:i') }}</td>
      <td> <a href="{{ path('app_details', {'id': event.id}) }}" class="btn btn-primary">View</a> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}

